.footer{
    background-color: #000;
}

.footer-content{
    padding: 15px 0;
}

.footer-content p{
    margin: 0;
    color: #747474;
}
.footer-content ul{
    margin: 0;
    padding: 0;
}
.footer-content ul li a{
    color: #fff !important;
    margin-left: 15px !important;
}