

li{
  list-style: none;
}
a{
  text-decoration: none !important;
}

.brand-heading{
  font-size: 40px;
  font-weight: 700;
  color: #000;
}
.brand-text{
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color: #e9204f;
}

.btn-brand{
    background: none;
    color: #fff;
    font-weight: 600;
    padding: 10px 30px;
    border: 1px solid #e9204f;
}
.btn-brand:hover{
    background: rgb(206, 165, 165);
    border: 1px solid #fff;
}

