

li{
  list-style: none;
}
a{
  text-decoration: none !important;
}

.brand-heading{
  font-size: 40px;
  font-weight: 700;
  color: #000;
}
.brand-text{
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color: #e9204f;
}

